.del {
    background: black;
    color: white;
    border: none;
    padding: 5px 9px;
    border-radius: 70%;
    cursor: pointer;
    float: right;
}

.todo {
    background: rgb(250, 255, 233);
    padding: 10px;
    border-bottom: 1px rgb(0, 0, 0) dotted;
}

.is-complete {
    text-decoration: line-through;
}

input[type=checkbox] {
    transform: scale(1.5);
}